<footer class="py-3 my-4 border-top">
    <div class="container">
        <div class="row">
            <!-- Logo y Derechos Reservados -->
            <div class="col-md-3 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap Logo" width="30" height="24">
                </a>
                <span class="text-muted">© 2023 FACILFIX</span>
            </div>

            <!-- Primera Columna de Enlaces -->
            <div class="col-md-3">
                <h5>Sección</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Inicio</a></li>
                    <li class="nav-item mb-2"><a href="/features" class="nav-link p-0 text-muted">Características</a></li>
                    <li class="nav-item mb-2"><a href="/pricing" class="nav-link p-0 text-muted">Precios</a></li>
                    <li class="nav-item mb-2"><a href="/faqs" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">Acerca</a></li>
                </ul>
            </div>

            <!-- Segunda Columna de Enlaces -->
            <div class="col-md-3">
                <h5>Sección</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Inicio</a></li>
                    <li class="nav-item mb-2"><a href="/features" class="nav-link p-0 text-muted">Características</a></li>
                    <li class="nav-item mb-2"><a href="/pricing" class="nav-link p-0 text-muted">Precios</a></li>
                    <li class="nav-item mb-2"><a href="/faqs" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">Acerca</a></li>
                </ul>
            </div>

            <!-- Tercera Columna de Enlaces -->
            <div class="col-md-3">
                <h5>Sección</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Inicio</a></li>
                    <li class="nav-item mb-2"><a href="/features" class="nav-link p-0 text-muted">Características</a></li>
                    <li class="nav-item mb-2"><a href="/pricing" class="nav-link p-0 text-muted">Precios</a></li>
                    <li class="nav-item mb-2"><a href="/faqs" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">Acerca</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
